* {
  /* color: #ececec; */
  font-family: 'Roboto', 'Open Sans', 'Melvetica Neve', 'sans-serif';
  font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.app {
  background-color: #212121;
  display: flex;
}


.app-container {
  display: flex;
}

.sidebar {
  width: 0;
  overflow: hidden;
  transition: width 0.3s ease;
}

.sidebar.open {
  width: 340px;
}


/* for mobile view */
@media (max-width: 768px) {
  .app-container {
    position: relative;
  }

  .sidebar {
    position: absolute;
    top: 0;
    left: 0;
  }

  .sidebar.open {
    width: 35%;
  }

}

.app-container.light .chatWindow {
  background-color: #fff;
  color: black;
}

h1 {
  color: black;
}

.app-container.light .mode span {
  color: black;
}

.app-container.light .mode p {
  color: black;
}

.app.light {
  background-color: #fff;
}

.app-container.light .chatInput {
  background-color: #fff;
}

.app-container.light input {
  border-radius: 1px solid black;
}

.app-container.light .history li {
  color: black;
}

.app-container.light .sidebar {
  background-color: #ffffffe7;
  border-right: 1px solid;
}

.app-container.light .sign {
  background-color: #ffffff;
  border-radius: 1px solid black;
}

.app-container.light .btn1 .button {

  background-color: #ffffff;
  border-radius: 1px solid black;
}

.app-container.light .userMsg {
  color: #fff;
}

.app-container.dark {
  color: #ececec;
}

.app-container.dark .chatWindow .navbar p {
  color: #ececec;
}

.app-container.dark .sidebar {
  /* color: #b4b4b4; */
}

.app-container.light .button {
  border: solid 2px rgba(8, 7, 7, 0.5);
}

.app-container .sidebar .btn1 i {
  opacity: 0.7;
}

.app-container .sidebar .btn1 i:hover {
  opacity: 1;
  transition: 1s ease-in-out;
}

.app-container.light .logo:hover {
  background-color: rgb(166, 163, 163);
  border: 1px solid;
  color: #ececec;
}

.app-container.light .history li:hover .fa-trash {
  opacity: 1;
  color: black;
}

.app-container.light .sign {
  border: solid 2px rgba(8, 7, 7, 0.5);
}

.app-container.dark .chats{
  color: #fff;
}

.app-container.dark input{
color: #ececec;
}

.app-container.dark .navbar{
      background-color: #212121;
}
.app-container.dark .chatWindow{
      background-color: #212121;
}
.app-container.light .navbar{
      background-color: #fff;
}
.app-container.light .navbar{
      background-color: #fff;
}

.app-container.dark .ch h1{
  color: #ececec;
}

.app-container.light .info {
  color: black;
}

.app-container.light .dropDown{
  color: #ececec;
}

.app-container.light .history li:hover {
    background-color: rgba(215, 202, 202, 0.804);
    border-radius: 10px;
}

.app-container.light .loader{
  column-rule: black;
}


.app-container.light .history li{
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgb(247, 243, 243);
}

.app-container.light .history li.highlighted {
  background-color: #E5E5E5;
}
.app-container.light .history li:hover {
  background-color: #E5E7EB;
}
.app-container.dark .history li.highlighted {
  background-color: #2b2b2bd8;
}
.app-container.dark .history li:hover {
  background-color:#2D2D2D ;

}
.app-container.dark .history li{
  margin-top: 0.5rem;
  border-radius: 0.5rem;
  background-color: rgba(172, 164, 164, 0.05);
}

/* body, .app-container {
  transition: color 0.3s ease;
} */