.sidebar {
    background-color: #171717;
    
    height: 100vh;
    /* width: 320px; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.logo {
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
    object-fit: cover;
}


.button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid 0.5px rgba(255, 255, 255, 0.5);
}

.button span {
    font-size: 1.3rem;
}

.btn {
    opacity: 0.9;
}

.btn:hover {
    opacity: 1;
    border-radius: 1%;
    transition: 0.4s linear 0.1s;
    cursor: pointer;
}

.history {
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li {
    list-style-type: none;
    cursor: pointer;
    padding: 2px 5px;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}

.history li:hover {
    background-color: rgba(100, 100, 100, 0.05);
    border-radius: 10px;
}

.sign {
    font-size: 14px;
    text-align: center;
    border-top: solid 0.5px rgba(255, 255, 255, 0.5);
}

.fa-trash {
    opacity: 0;
    position: absolute;
    right: 0;
}

.history li:hover .fa-trash {
    opacity: 1;
    color: #fff;
}

.fa-trash:hover {
    color: #f87171 !important;
}

.highlighted {
    background-color: #1E1E1E;
    border-radius: 0.7rem;
}


/* Our CSS */

.history {
    overflow-y: auto;
    flex: 1;
}

.button {
    display: flex;
    flex-wrap: wrap;
    background-color: #171717;
}

.sign {
    text-align: center;
    background-color: #171717;
    flex-shrink: 1;
    border: solid 0.3px white;
    border-radius: 0.3rem;
    margin: 0.5rem;
}

.fa-bars {
    font-size: 2rem;
    display: inline;
}

.bar1 {
    position: fixed;
    top: 15px;
    left: 15px;
    cursor: pointer;
}
.bar2{
    font-size: 1.7rem;
    cursor: pointer;
}

.sidebar {
    transform: translateX(-100%);
}

.open {
    transform: translateX(0);
    z-index: 100000;
}

.btn1{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}

.button{
    flex: 1;
}
